<% provide(:title, t('pages.signin.title')) %>
<h1><%= t('pages.signin.header') %></h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>

			<%= f.label t("activerecord.attributes.user.email") %>
			<%= f.text_field :email %>

			<%= f.label t("activerecord.attributes.user.password") %>
			<%= f.text_field :password %>

			<%= f.submit t('pages.signin.submit_button'), class: "btn btn-large btn-primary" %>
    	<% end %>
    	<p><%= t('pages.signin.new_user')%> <%= link_to t(:sign_up), signup_path %></p>

	</div>

</div>