<!DOCTYPE html>
<html>
<head>
  <title>Mi Iglesia en Linea</title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'application', media: 'all' %> 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Mi Iglesia en Linea", root_path, id: "logo" %>
    		<nav>
    			<ul>
    			  <li><%= link_to "Inicio", root_path%></li>
    			  <li><%= link_to "Acerca de", info_path %></li>
    			  <li><%= link_to "Contactenos", contact_path%></li>
    			</ul>  
    		</nav>
      </div>
    </div>
  </header>
  <div class="container">		
		<%= yield %>		
	</div>
  <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
